@model IEnumerable<CPRG214.MvcCore.Assignment2.Presentation.Models.TypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Asset Types</h1>

<hr />
<table class="table table-bordered col-md-4">
    <thead class="thead-dark">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
 
        </tr>
}
    </tbody>
</table>

    <a asp-action="Create" class="btn btn-primary">Add</a>
    